// .babelrc
// This file configures Babel, a JavaScript transpiler.
// Babel is used to convert newer JavaScript features (ES6+) into older,
// more widely compatible versions of JavaScript that can run in various
// browsers and Node.js environments.
{
  // "presets" are collections of plugins that tell Babel how to transform the code.
  "presets": [
    [
      // "@babel/preset-env" is a smart preset that allows you to use the latest JavaScript
      // without needing to micromanage which syntax transforms (and optionally, browser polyfills)
      // are needed by your target environment(s).
      "@babel/preset-env",
      {
        // "targets" specifies the environments you are targeting.
        // In this case, it's targeting the current version of Node.js.
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
  // "plugins" would be listed here if specific transformations, not covered by presets, were needed.
}