# Local HTTPS certificates
localhost.pem
localhost-key.pem

# Environment variable files
.env
.env.development
.env.production

# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*